---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxOTQ1Nzg3NTQyOTVAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MzEzMTIyOSwiaWF0IjoxMzkzMTMxMTA5fQ.JykVM2UhtBgptIihyoN-k4bsNJZxkjjd2EtOQZ0T6d3Bh2LXvBJNaNtozqZWsfO8n_JiLB55hd91ZO-PljzZI1cJlc1X4Lpb3B88Txsdua0VZth11Rv8TlPZ8qBhNwCF0blpUinpIUqRfQ61M8DgtXZmjJoUiUPDrjm9cm73u3M
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.1.AADtN_Uc3nOP7K0B_YCKDigvKHOr_4S_SPdZKXg6YBDFPcGKqNemHYX1uQpFc61uPQ",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 23 Feb 2014 04:52:49 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_Uc3nOP7K0B_YCKDigvKHOr_4S_SPdZKXg6YBDFPcGKqNemHYX1uQpFc61uPQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 23 Feb 2014 04:52:50 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-23T04:52:50.185Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - 194578754295@developer.gserviceaccount.com</title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>2</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/t-2GqcZyylK76PuAi9qaUUQ</id><updated>2014-02-23T03:46:36.938Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>My Spreadsheet</title><content type='text'>My Spreadsheet</content><link
        rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/worksheets/t-2GqcZyylK76PuAi9qaUUQ/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0ApTxW-6l0Ch_dC0yR3FjWnl5bEs3NlB1QWk5cWFVVVE'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/t-2GqcZyylK76PuAi9qaUUQ'/><author><name>194578754295</name><email>194578754295@developer.gserviceaccount.com</email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tUEEknHRVNmWyhQuKv1l-Bw</id><updated>2014-02-23T02:25:18.152Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>My Spreadsheet</title><content type='text'>My Spreadsheet</content><link
        rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/worksheets/tUEEknHRVNmWyhQuKv1l-Bw/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tUEEknHRVNmWyhQuKv1l-Bw'/><author><name>194578754295</name><email>194578754295@developer.gserviceaccount.com</email></author></entry></feed>"
  recorded_at: Sun, 23 Feb 2014 04:52:50 GMT
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/0ApTxW-6l0Ch_dC0yR3FjWnl5bEs3NlB1QWk5cWFVVVE/copy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_V6K26HzohjSomUM4Gdogey3aoprgIDgYMFivwqw5m_IwM12ucV3xZC8AlGBQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MzEzMTE3MTkwOA\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#file",
         "id": "0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE",
         "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MzEzMTE3MTkwOA\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE",
         "alternateLink": "https://docs.google.com/spreadsheet/ccc?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE&usp=drivesdk",
         "embedLink": "https://docs.google.com/spreadsheet/ccc?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE&output=html&chrome=false&widget=true",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "title": "My Spreadsheet",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2014-02-23T04:52:51.750Z",
         "modifiedDate": "2014-02-23T04:52:51.162Z",
         "modifiedByMeDate": "2014-02-23T04:52:51.162Z",
         "lastViewedByMeDate": "2014-02-23T04:52:51.162Z",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "0AJTxW-6l0Ch_Uk9PVA",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/parents/0AJTxW-6l0Ch_Uk9PVA",
           "parentLink": "https://www.googleapis.com/drive/v2/files/0AJTxW-6l0Ch_Uk9PVA",
           "isRoot": true
          }
         ],
         "exportLinks": {
          "application/pdf": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE&exportFormat=pdf",
          "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE&exportFormat=ods",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE&exportFormat=xlsx"
         },
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/Mxog80vB7UYcyGpd8mMTgA5zdGU\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "quotaBytesUsed": "0",
         "ownerNames": [
          "194578754295@developer.gserviceaccount.com"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "194578754295@developer.gserviceaccount.com",
           "isAuthenticatedUser": true,
           "permissionId": "11551606779529143063"
          }
         ],
         "lastModifyingUserName": "194578754295@developer.gserviceaccount.com",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "194578754295@developer.gserviceaccount.com",
          "isAuthenticatedUser": true,
          "permissionId": "11551606779529143063"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "appDataContents": false
        }
  recorded_at: Sun, 23 Feb 2014 04:52:52 GMT
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_Up3wIJZbCqa782bxA2xfThIzum6kLR8C6_aTiO_aaeFOl22S1sEjV02T7HnQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version[...]
