---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI1NDQ1NTgxNDg0NTlAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MjU5MDQ4OCwiaWF0IjoxMzkyNTkwMzY4fQ.iCz6jqcxwiZB8HgitC9npPlTyHr2ANn9fwh1eFXBEdSYQY-excKE2fRvjXQHeXZ-zavO92SEY4u7D8gZH5FBifxL1d7eT64wqVhxrBUdl7_UVM2Y0MohPnQKMGfTS4PMYh-mrT34vOGksgrjXJB3OeLt9UTsb1JL8dMb3XkWPYE
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 16 Feb 2014 22:40:28 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 16 Feb 2014 22:40:19 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-16T22:40:19.832Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - <SERVICE_ACCOUNT_EMAIL></title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>266</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tc-EbOTBE-8GjeALEJt5nCA</id><updated>2014-02-16T15:45:40.723Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Contacts - Bad Facet Type</title><content type='text'>Contacts
        - Bad Facet Type</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/tc-EbOTBE-8GjeALEJt5nCA/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=<SPREADSHEET_KEY>'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tc-EbOTBE-8GjeALEJt5nCA'/><author><name>544558148459</name><email><SERVICE_ACCOUNT_EMAIL></email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqDAzmI0cx6vGaSa_gQa0Vg</id><updated>2014-02-16T19:55:43.668Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Contacts</title><content type='text'>Contacts</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='appl[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/<SPREADSHEET_KEY>/copy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MjU5MDQyMzUxMg\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#file",
         "id": "0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc",
         "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MjU5MDQyMzUxMg\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc",
         "alternateLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc&usp=drivesdk",
         "embedLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc&output=html&chrome=false&widget=true",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "title": "Contacts - Bad Facet Type",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2014-02-16T22:40:22.853Z",
         "modifiedDate": "2014-02-16T22:40:21.706Z",
         "modifiedByMeDate": "2014-02-16T22:40:21.706Z",
         "lastViewedByMeDate": "2014-02-16T22:40:21.706Z",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "<PARENT_KEY>",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc/parents/<PARENT_KEY>",
           "parentLink": "https://www.googleapis.com/drive/v2/files/<PARENT_KEY>",
           "isRoot": true
          }
         ],
         "exportLinks": {
          "application/pdf": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc&exportFormat=pdf",
          "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc&exportFormat=ods",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc&exportFormat=xlsx"
         },
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/FDLltlhN_oUjEf62pST4Lx7xYsY\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "quotaBytesUsed": "0",
         "ownerNames": [
          "<SERVICE_ACCOUNT_EMAIL>"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "<SERVICE_ACCOUNT_EMAIL>",
           "isAuthenticatedUser": true,
           "permissionId": "11042552828444035833"
          }
         ],
         "lastModifyingUserName": "<SERVICE_ACCOUNT_EMAIL>",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "<SERVICE_ACCOUNT_EMAIL>",
          "isAuthenticatedUser": true,
          "permissionId": "11042552828444035833"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "appDataContents": false
        }
  recorded_at: Sun, 16 Feb 2014 22:40:33 GMT
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full/0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 16 Feb [...]
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_KEY>/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 16 Feb 2014 15:45:40 GMT
      Alter[...]
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/<SPREADSHEET_KEY>/od6/private/full?max-row=100&min-row=1&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Su[...]
