---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI1NDQ1NTgxNDg0NTlAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MTk1NzM3OSwiaWF0IjoxMzkxOTU3MjU5fQ.Qu8YlO1glgSugnhoIoYYxd84WMxX1iFPwfQzNmlQdSzMxyAgiPJp1ninfo0hTKqai_yTvw8O0AJoeFcd0vizUqesinSW8_g0b9CZHjGA4o0YNVQDK9bdS79fa8bkPhpX6-BDV4MtwyxbA_Lo9k1SM3b3vFadoBJsa9crojuYxzA
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 09 Feb 2014 14:48:39 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 09 Feb 2014 14:48:36 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-09T14:48:36.841Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - <SERVICE_ACCOUNT_EMAIL></title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>20</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tcFPB5nM5hJwwoFmRwdtwtQ</id><updated>2014-02-08T22:23:05.497Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Pokemon</title><content type='text'>Pokemon</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/tcFPB5nM5hJwwoFmRwdtwtQ/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=<SPREADSHEET_KEY>'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tcFPB5nM5hJwwoFmRwdtwtQ'/><author><name>544558148459</name><email><SERVICE_ACCOUNT_EMAIL></email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tm7tNtKe3qWJiOH6jjkdAEg</id><updated>2014-02-08T22:34:56.732Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Pokemon</title><content type='text'>Pokemon</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='applic[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/<FOLDER_KEY>/children
    body:
      encoding: UTF-8
      string: "{\"id\":\"<SPREADSHEET_KEY>\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/LVHZYo4BCgp4EZFpbzIpyGhnr-0\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#childReference",
         "id": "<SPREADSHEET_KEY>",
         "selfLink": "https://www.googleapis.com/drive/v2/files/<FOLDER_KEY>/children/<SPREADSHEET_KEY>",
         "childLink": "https://www.googleapis.com/drive/v2/files/<SPREADSHEET_KEY>"
        }
  recorded_at: Sun, 09 Feb 2014 14:48:42 GMT
recorded_with: VCR 2.8.0
