---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxOTQ1Nzg3NTQyOTVAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MzE3Mzc1MSwiaWF0IjoxMzkzMTczNjMxfQ.CjWK91HLTjFMbBM6FNsYX94c3PTZXuqcJ6PSorgl6_zWkLKVu_eiVJcPl54wuRrCBdjgLSpE8O3dkriJiiN3hhxZiB9-nck2VXfk_X6DLIzLLanvzU6bMqn0uhIxkwFBlcE2PK7_3_StmY3wBBEFQ85NzNG8paaBaQWQxfQQ34U
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.1.AADtN_U2u_PkgowURFtgG4hxm7kfrR9Q57a6ezE6CmtXWaF8JdYvcDs77JX3lPTrIg",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 23 Feb 2014 16:41:31 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_U2u_PkgowURFtgG4hxm7kfrR9Q57a6ezE6CmtXWaF8JdYvcDs77JX3lPTrIg
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 23 Feb 2014 16:41:29 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-23T16:41:29.703Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - 194578754295@developer.gserviceaccount.com</title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>3</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqr4sp_CcLuHVOYKgnCjmRQ</id><updated>2014-02-23T04:52:51.908Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>My Spreadsheet</title><content type='text'>My Spreadsheet</content><link
        rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/worksheets/tqr4sp_CcLuHVOYKgnCjmRQ/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqr4sp_CcLuHVOYKgnCjmRQ'/><author><name>194578754295</name><email>194578754295@developer.gserviceaccount.com</email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/t-2GqcZyylK76PuAi9qaUUQ</id><updated>2014-02-23T03:46:36.938Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>My Spreadsheet</title><content type='text'>My Spreadsheet</content><link
        rel='http://schemas.google.com/spreadsheets/[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/0B5TxW-6l0Ch_elJwQlVMaGcwTjA/children
    body:
      encoding: UTF-8
      string: "{\"id\":\"0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE\"}"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ya29.1.AADtN_U2u_PkgowURFtgG4hxm7kfrR9Q57a6ezE6CmtXWaF8JdYvcDs77JX3lPTrIg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/wTRYnoDXCub6djN4UsM4gfmTN8M\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#childReference",
         "id": "0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0B5TxW-6l0Ch_elJwQlVMaGcwTjA/children/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE",
         "childLink": "https://www.googleapis.com/drive/v2/files/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE"
        }
  recorded_at: Sun, 23 Feb 2014 16:41:32 GMT
recorded_with: VCR 2.8.0
