---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI1NDQ1NTgxNDg0NTlAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MTg3NDM4OSwiaWF0IjoxMzkxODc0MjY5fQ.L5OS-a-d7sJfte_2b6KwUaguB0mbTk7xI_PVZX4iyjXAT2-8Mpth-__xWPFHm94Io6DsZLLxQNShc5PHyu2SzYwYq9xp65d15VzVoSvo5EVoo4n_heOOjvbr4DGj_Pf3y9GV42RFFmy7B8NynL4-SEaa0fHm4EuGIDe-Ht-EUL0
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sat, 08 Feb 2014 15:45:29 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sat, 08 Feb 2014 15:45:30 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-08T15:45:30.757Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - <SERVICE_ACCOUNT_EMAIL></title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>9</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/t8Axha_X2wIVGf-I39e_J0g</id><updated>2014-02-08T15:25:52.447Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Pokemon</title><content type='text'>Pokemon</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/t8Axha_X2wIVGf-I39e_J0g/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=<COPIED_SPREADSHEET_KEY>'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/t8Axha_X2wIVGf-I39e_J0g'/><author><name>544558148459</name><email><SERVICE_ACCOUNT_EMAIL></email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/t-jPWArxhvth60cxHSgAqTg</id><updated>2014-02-08T15:10:36.641Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Pokemon</title><content type='text'>Pokemon</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='applic[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/<COPIED_SPREADSHEET_KEY>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MTg3MzE1MjQ0Nw\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#file",
         "id": "<COPIED_SPREADSHEET_KEY>",
         "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MTg3MzE1MjQ0Nw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/<COPIED_SPREADSHEET_KEY>",
         "alternateLink": "https://docs.google.com/spreadsheet/ccc?key=<COPIED_SPREADSHEET_KEY>&usp=drivesdk",
         "embedLink": "https://docs.google.com/spreadsheet/ccc?key=<COPIED_SPREADSHEET_KEY>&output=html&chrome=false&widget=true",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "title": "Pokemon",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2014-02-08T15:25:53.354Z",
         "modifiedDate": "2014-02-08T15:25:52.447Z",
         "modifiedByMeDate": "2014-02-08T15:25:52.447Z",
         "lastViewedByMeDate": "2014-02-08T15:25:52.447Z",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "<PARENT_KEY>",
           "selfLink": "https://www.googleapis.com/drive/v2/files/<COPIED_SPREADSHEET_KEY>/parents/<PARENT_KEY>",
           "parentLink": "https://www.googleapis.com/drive/v2/files/<PARENT_KEY>",
           "isRoot": true
          }
         ],
         "exportLinks": {
          "application/pdf": "https://docs.google.com/feeds/download/spreadsheets/Export?key=<COPIED_SPREADSHEET_KEY>&exportFormat=pdf",
          "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=<COPIED_SPREADSHEET_KEY>&exportFormat=ods",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=<COPIED_SPREADSHEET_KEY>&exportFormat=xlsx"
         },
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/jOXonmD7g8p8FikEOZ8P6bY4yIQ\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/<COPIED_SPREADSHEET_KEY>/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "quotaBytesUsed": "0",
         "ownerNames": [
          "<SERVICE_ACCOUNT_EMAIL>"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "<SERVICE_ACCOUNT_EMAIL>",
           "isAuthenticatedUser": true,
           "permissionId": "11042552828444035833"
          }
         ],
         "lastModifyingUserName": "<SERVICE_ACCOUNT_EMAIL>",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "<SERVICE_ACCOUNT_EMAIL>",
          "isAuthenticatedUser": true,
          "permissionId": "11042552828444035833"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "appDataContents": false
        }
  recorded_at: Sat, 08 Feb 2014 15:45:30 GMT
recorded_with: VCR 2.8.0
