---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxOTQ1Nzg3NTQyOTVAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MzEzMTI0MSwiaWF0IjoxMzkzMTMxMTIxfQ.t0z_q5J4WwpQqbS365_wVHI_8E-TNy5_YVqltI5CF7HcJWcqNLw_fxJpf0x1L4dDHz4zc4tab81jJg_bkHL11tUI77mZg2K46SQ23Qdx4pfo4IXe9XmyGwNneeY7Yb0aFEwXZaJaESE4Hu9OUKocXNMgqGXtmZ1ppqZYonJnlhM
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.1.AADtN_WYQbjClK7hnkymt_THV2hgI2YwyK0SZL46FY0rtfON85XBfj19cytJ1B7TOw",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 23 Feb 2014 04:53:01 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_WYQbjClK7hnkymt_THV2hgI2YwyK0SZL46FY0rtfON85XBfj19cytJ1B7TOw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 23 Feb 2014 02:25:18 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full</id><updated>2014-02-23T02:25:18.152Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>My Spreadsheet</title><link rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full'/><author><name>194578754295</name><email>194578754295@developer.gserviceaccount.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full/od6</id><updated>2014-02-23T02:25:18.152Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Sheet1</title><content type='text'>Sheet1</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/list/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/od6/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/od6/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://spreadsheets.google.com/tq?key=0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc&amp;sheet=od6'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full/od6'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/0AsfWTr-e4bf1dFVFRWtuSFJWTm1XeWhRdUt2MWwtQnc/private/full/od6/dptjk2vigw'/><gs:rowCount>100</gs:rowCount><gs:colCount>18</gs:colCount></entry></feed>"
  recorded_at: Sun, 23 Feb 2014 04:53:01 GMT
recorded_with: VCR 2.8.0
