---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxOTQ1Nzg3NTQyOTVAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MzE3NTkwOSwiaWF0IjoxMzkzMTc1Nzg5fQ.U9j-HuBY-uzeXhBPWLu1jggmHm6tKjx0HpZMQT5rrvWFh-TWYw5vvmnhIDdDkL8_2AiJ-Y0i5EojWU6HKKAeIdWVWKbPYlYrAcfSj0J7RrsrXCETmNX8j-xKfxv4H94QKdcwFULCcjIpUhhr4IpHNeGfBkkMDUlK7ZJx10Y96Cg
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.1.AADtN_WFhPli3Md0zDHMDUZ4SmMTzZNZf35yMk6gROraIH5PhvMxM9uM1Cb1u1DJuw",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 23 Feb 2014 17:17:30 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_WFhPli3Md0zDHMDUZ4SmMTzZNZf35yMk6gROraIH5PhvMxM9uM1Cb1u1DJuw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 23 Feb 2014 17:17:28 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-23T17:17:28.446Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - 194578754295@developer.gserviceaccount.com</title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>3</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqr4sp_CcLuHVOYKgnCjmRQ</id><updated>2014-02-23T17:11:22.665Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>My Spreadsheet</title><content type='text'>My Spreadsheet</content><link
        rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/worksheets/tqr4sp_CcLuHVOYKgnCjmRQ/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqr4sp_CcLuHVOYKgnCjmRQ'/><author><name>194578754295</name><email>194578754295@developer.gserviceaccount.com</email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/t-2GqcZyylK76PuAi9qaUUQ</id><updated>2014-02-23T03:46:36.938Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>My Spreadsheet</title><content type='text'>My Spreadsheet</content><link
        rel='http://schemas.google.com/spreadsheets/[...]
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_WFhPli3Md0zDHMDUZ4SmMTzZNZf35yMk6gROraIH5PhvMxM9uM1Cb1u1DJuw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version[...]
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full?max-row=10&min-row=5&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_U61g7ONvJr0MwsEVr6zhEeXg2W-36u-TtwLwlqPp7NRMhYRY5scbLqbWYs9Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+[...]
