---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI1NDQ1NTgxNDg0NTlAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MTQzNDQ1NiwiaWF0IjoxMzkxNDM0MzM2fQ.BuXTPv8Il9IW9iZWuTZzs84ZNpA3eAUHMaqhVjTwfbM9wtW34qAlY-aaauwz9N5ziLsKWXNCT_-m3KdRQv3G4h7zhA51N87heCyZW7M5YtxdIkYBWpnQ9qKjmII_24kiMznkhog1WgScKMa8Qobw7-olEAOxSLCT5Ss_JD94Zc4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Mon, 03 Feb 2014 13:33:16 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Fri, 31 Jan 2014 20:37:14 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full</id><updated>2014-01-31T20:37:14.168Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Businesses</title><link rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=<SPREADSHEET_ID>'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full'/><author><name>jessica</name><email><AUTHOR_EMAIL></email></author><openSearch:totalResults>2</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full/od6</id><updated>2014-01-31T20:37:14.168Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Businesses</title><content type='text'>Businesses</content><link
        rel='http://schemas.google.com/spreadsheets/2006#listfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/list/<SPREADSHEET_ID>/od6/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/<SPREADSHEET_ID>/od6/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://spreadsheets.google.com/tq?key=<SPREADSHEET_ID>&amp;sheet=od6'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full/od6'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full/od6/dp50qxuim8'/><gs:rowCount>100</gs:rowCount><gs:colCount>23</gs:colCount></entry><entry><id>https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full/ocw</id><updated>2014-01-31T20:35:44.452Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Metadata</title><content type='text'>Metadata</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/list/<SPREADSHEET_ID>/ocw/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/<SPREADSHEET_ID>/ocw/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://spreadsheets.google.com/tq?key=<SPREADSHEET_ID>&amp;sheet=ocw'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full/ocw'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/<SPREADSHEET_ID>/private/full/ocw/dp50pgflb4'/><gs:rowCount>1</gs:rowCount><gs:colCount>2</gs:colCount></entry></feed>"
  recorded_at: Mon, 03 Feb 2014 13:33:17 GMT
recorded_with: VCR 2.8.0
