---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxOTQ1Nzg3NTQyOTVAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MzE3NTkwMSwiaWF0IjoxMzkzMTc1NzgxfQ.XpyiJYlbr1IGHWlZpb9LTKxCjCwYF79l6OAa0u0Y4Q-32iwu-BYltUySg1fL0ORIgdnYx69ksP-C23yld1a8-7Pa3DFGpWpnmL1CdnOgp_NmsthE9qMstWDyprRxiVSVt7XCdZGlwSTyJDHJs8MzrD3aev5a0l_MG2d-poyDwoM
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.1.AADtN_UAtRw98p95xv3P8a5K7vbNN471hex7P_kYVQ5q09KStvFAfzjx3S1KYOaTqQ",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 23 Feb 2014 17:17:22 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full?max-row=11&min-row=1&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.1.AADtN_UAtRw98p95xv3P8a5K7vbNN471hex7P_kYVQ5q09KStvFAfzjx3S1KYOaTqQ
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 23 Feb 2014 17:11:22 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'
        xmlns:batch='http://schemas.google.com/gdata/batch'><id>https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full</id><updated>2014-02-23T17:11:22.665Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title
        type='text'>Sheet1</title><link rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full'/><link
        rel='http://schemas.google.com/g/2005#batch' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full/batch'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full?return-empty=true&amp;max-row=11&amp;min-row=1'/><author><name>194578754295</name><email>194578754295@developer.gserviceaccount.com</email></author><openSearch:totalResults>198</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><gs:rowCount>100</gs:rowCount><gs:colCount>18</gs:colCount><entry><id>https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full/R1C1</id><updated>2014-02-23T17:11:22.665Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title
        type='text'>A1</title><content type='text'>a new name</content><link rel='self'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full/R1C1'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/0ApTxW-6l0Ch_dHFyNHNwX0NjTHVIVk9ZS2duQ2ptUlE/od6/private/full/R1C1/skthii'/><gs:cell
        row='1' col='1' inputValue='a new name'>a new name</gs:cell></entry><entry><id>https://spreadsheets.[...]
[...]
