---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiIxOTQ1Nzg3NTQyOTVAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTQxMDk4MjgyMCwiaWF0IjoxNDEwOTgyNzAwfQ.avYzPBBLtJvRpJQbLLsjdlo3aIaPQEhI7wW9q_dH-TdS3awfeXwgvRU6CjAXfcTh2ZulYOmXHLGdbGi9yjOEMIvuMm2Y517n-0Xg0mn1VMn2rndAbvm7zJG4Y821tiiKAk1qT2vqIW-0UX2jLq7DrSdpw-3yLLQCk9z4rR2msmY
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Disposition:
      - attachment; filename="json.txt"; filename*=UTF-8''json.txt
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.gwBcjNQcvY0B_wF2vd20vP1IzD4g6bcs8I6qBtAws33xbT4gVZenXzR4",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Wed, 17 Sep 2014 19:39:20 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.gwBcjNQcvY0B_wF2vd20vP1IzD4g6bcs8I6qBtAws33xbT4gVZenXzR4
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Wed, 17 Sep 2014 16:41:55 GMT
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full</id><updated>2014-09-17T16:41:55.998Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Scrambler</title><link rel='alternate' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full'/><author><name>jmthrower</name><email>jmthrower@gmail.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full/od6</id><updated>2014-09-17T16:41:55.998Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title
        type='text'>Sheet1</title><content type='text'>Sheet1</content><link rel='http://schemas.google.com/spreadsheets/2006#listfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/list/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/od6/private/full'/><link
        rel='http://schemas.google.com/spreadsheets/2006#cellsfeed' type='application/atom+xml'
        href='https://spreadsheets.google.com/feeds/cells/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/od6/private/full'/><link
        rel='http://schemas.google.com/visualization/2008#visualizationApi' type='application/atom+xml'
        href='https://docs.google.com/spreadsheets/d/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/gviz/tq?gid=0'/><link
        rel='http://schemas.google.com/spreadsheets/2006#exportcsv' type='text/csv'
        href='https://docs.google.com/spreadsheets/d/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/export?gid=0&amp;format=csv'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full/od6'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/private/full/od6/-u3c64m'/><gs:colCount>26</gs:colCount><gs:rowCount>1000</gs:rowCount></entry></feed>"
  recorded_at: Wed, 17 Sep 2014 19:39:21 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/revisions
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer ya29.gwBa_rkOu6-RPL02c3HGaXlzjijzNNpPYcib4EWESrKpflkQ1IvFqadZ
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fk0AzBEIhUhhdZ8fZzKcL1hA5NE/UbACniW4urK-t2Y7dXz39-QEUmo"'
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#revisionList",
         "etag": "\"fk0AzBEIhUhhdZ8fZzKcL1hA5NE/UbACniW4urK-t2Y7dXz39-QEUmo\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/revisions",
         "items": [
          {
           "kind": "drive#revision",
           "etag": "\"fk0AzBEIhUhhdZ8fZzKcL1hA5NE/sk9oekelD-LBkfg0rhoacOecSzw\"",
           "id": "20",
           "selfLink": "https://www.googleapis.com/drive/v2/files/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/revisions/20",
           "mimeType": "application/vnd.google-apps.spreadsheet",
           "modifiedDate": "2014-09-17T01:04:05.746Z",
           "published": false,
           "exportLinks": {
            "text/csv": "https://docs.google.com/spreadsheets/export?id=1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls&revision=20&exportFormat=csv",
            "application/pdf": "https://docs.google.com/spreadsheets/export?id=1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls&revision=20&exportFormat=pdf",
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls&revision=20&exportFormat=xlsx"
           },
           "lastModifyingUserName": "Jessica Thrower",
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Jessica Thrower",
            "isAuthenticatedUser": false,
            "permissionId": "13045974993929539071"
           }
          },
          {
           "kind": "drive#revision",
           "etag": "\"fk0AzBEIhUhhdZ8fZzKcL1hA5NE/3ETJvOaepc7o1UQqNDcjQaZVPnI\"",
           "id": "21",
           "selfLink": "https://www.googleapis.com/drive/v2/files/1ZRAzPpO--MiXWcIbU_V7YdMlxNZ62hfp4U2HYjis1ls/revisions/21",
           "mimeType": "application/vnd.google-apps.spreadsheet",
           "modifiedDate": "2014-09-17T16:38:52.598Z",
           "published": false,
           "export[...]
