---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI1NDQ1NTgxNDg0NTlAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MTg5NDk3MCwiaWF0IjoxMzkxODk0ODUwfQ.a1oF3Xfec0lS4y9LBxYaQc8O8JZRdSAmB9rOLkWWh-Lyeda1G6oa4GGZrR4ay2Ztmj6xWXcuGY0uhJL1dvfWGDlsTIa0mFWxZQ4lVFFQLy-5koNhE1Ee2J_fV-O0QkWE-CDlxfPGrMSYsyvuqaMOPy34UF0LsGIdwkY18k1cHGE
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sat, 08 Feb 2014 21:28:30 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sat, 08 Feb 2014 21:28:30 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-08T21:28:30.575Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - <SERVICE_ACCOUNT_EMAIL></title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>12</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqQyQVS84-Fyg0MC4udTssQ</id><updated>2014-02-08T21:28:00.364Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Pokemon</title><content type='text'>Pokemon</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/tqQyQVS84-Fyg0MC4udTssQ/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0AnvWBjGFJyVsdHFReVFWUzg0LUZ5ZzBNQzR1ZFRzc1E'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqQyQVS84-Fyg0MC4udTssQ'/><author><name>544558148459</name><email><SERVICE_ACCOUNT_EMAIL></email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tnONT66fltvU7c2AOAYQVow</id><updated>2014-02-08T21:26:52.865Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Pokemon</title><content type='text'>Pokemon</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='applic[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/<SPREADSHEET_KEY>/copy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MTg5NDkxMTU1Mw\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#file",
         "id": "0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc",
         "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MTg5NDkxMTU1Mw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc",
         "alternateLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc&usp=drivesdk",
         "embedLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc&output=html&chrome=false&widget=true",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "title": "Pokemon",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2014-02-08T21:28:31.948Z",
         "modifiedDate": "2014-02-08T21:28:31.428Z",
         "modifiedByMeDate": "2014-02-08T21:28:31.428Z",
         "lastViewedByMeDate": "2014-02-08T21:28:31.428Z",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "<PARENT_KEY>",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc/parents/<PARENT_KEY>",
           "parentLink": "https://www.googleapis.com/drive/v2/files/<PARENT_KEY>",
           "isRoot": true
          }
         ],
         "exportLinks": {
          "application/pdf": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc&exportFormat=pdf",
          "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc&exportFormat=ods",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc&exportFormat=xlsx"
         },
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/AKPuUlndA5KFRKeC8bR1iVxYLcI\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "quotaBytesUsed": "0",
         "ownerNames": [
          "<SERVICE_ACCOUNT_EMAIL>"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "<SERVICE_ACCOUNT_EMAIL>",
           "isAuthenticatedUser": true,
           "permissionId": "11042552828444035833"
          }
         ],
         "lastModifyingUserName": "<SERVICE_ACCOUNT_EMAIL>",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "<SERVICE_ACCOUNT_EMAIL>",
          "isAuthenticatedUser": true,
          "permissionId": "11042552828444035833"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "appDataContents": false
        }
  recorded_at: Sat, 08 Feb 2014 21:28:32 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdFZEUE10Mi0tSzNjY0tNU0JkV1Exdnc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MTg5NDkxMTQyOA\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
   [...]
