---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiI1NDQ1NTgxNDg0NTlAZGV2ZWxvcGVyLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJzY29wZSI6Imh0dHBzOi8vd3d3Lmdvb2dsZWFwaXMuY29tL2F1dGgvZHJpdmUgaHR0cHM6Ly9zcHJlYWRzaGVldHMuZ29vZ2xlLmNvbS9mZWVkcyIsImF1ZCI6Imh0dHBzOi8vYWNjb3VudHMuZ29vZ2xlLmNvbS9vL29hdXRoMi90b2tlbiIsImV4cCI6MTM5MjU5MDYxNiwiaWF0IjoxMzkyNTkwNDk2fQ.j93CyfSNLD9eWTKp0Gx4hsK3aH2Bo2AdRn3zYFPnIAq7Gpdsk24J4bi9Z4lp44FH15y-0HsDkWT6S7fuBsLaqfxdk3w52QFcaRQPyabiFx8S-SR2baLfMDhBFxOSqIxfgOJEEUEK1Tc9Y8ChVuF2nyjZmqgWz-8dIGx0rPu1m4o
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "<ACCESS_TOKEN>",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Sun, 16 Feb 2014 22:42:36 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 16 Feb 2014 22:42:27 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearchrss/1.0/'><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full</id><updated>2014-02-16T22:42:27.634Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Available Spreadsheets - <SERVICE_ACCOUNT_EMAIL></title><link
        rel='alternate' type='text/html' href='http://docs.google.com'/><link rel='http://schemas.google.com/g/2005#feed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full'/><openSearch:totalResults>267</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/t38i1nVtHgI6MbEewNJ5zAw</id><updated>2014-02-16T22:40:21.706Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Contacts - Bad Facet Type</title><content type='text'>Contacts
        - Bad Facet Type</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/t38i1nVtHgI6MbEewNJ5zAw/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/t38i1nVtHgI6MbEewNJ5zAw'/><author><name>544558148459</name><email><SERVICE_ACCOUNT_EMAIL></email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tc-EbOTBE-8GjeALEJt5nCA</id><updated>2014-02-16T15:45:40.723Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#spreadsheet'/><title
        type='text'>Contacts - Bad Facet Type</title><content type='text'>Contacts
        - Bad Facet Type</content><link rel='http://schemas.google.com/spreadsheets/2006#worksheetsfeed'
        type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/tc-EbOTBE-8GjeALEJt5nCA/private/full'/><link
        rel='alternate' type='text/html' href='https://spreadsheets.google.com/ccc?key=<SPREADSHEET_KEY>'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/spreadsheets/private/full/tc-EbOTBE-8GjeALEJt5nCA'/><author><name>544558148459</name><email><SERVICE_ACCOUNT_EMAIL></email></author></entry><entry><id>https://spreadsheets.google.com/feeds/spreadsheets/private/full/tqDAzmI0cx6vGaSa_gQa0Vg</id><updated>2014-02-16T19:55:43.668Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheet[...]
[...]
- request:
    method: post
    uri: https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdDM4aTFuVnRIZ0k2TWJFZXdOSjV6QXc/copy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MjU5MDU0OTg3Nw\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#file",
         "id": "0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc",
         "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MjU5MDU0OTg3Nw\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc",
         "alternateLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&usp=drivesdk",
         "embedLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&output=html&chrome=false&widget=true",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "title": "Contacts - Bad Facet Type",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2014-02-16T22:42:29.664Z",
         "modifiedDate": "2014-02-16T22:42:28.955Z",
         "modifiedByMeDate": "2014-02-16T22:42:28.955Z",
         "lastViewedByMeDate": "2014-02-16T22:42:28.955Z",
         "parents": [
          {
           "kind": "drive#parentReference",
           "id": "<PARENT_KEY>",
           "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc/parents/<PARENT_KEY>",
           "parentLink": "https://www.googleapis.com/drive/v2/files/<PARENT_KEY>",
           "isRoot": true
          }
         ],
         "exportLinks": {
          "application/pdf": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&exportFormat=pdf",
          "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&exportFormat=ods",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/feeds/download/spreadsheets/Export?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&exportFormat=xlsx"
         },
         "userPermission": {
          "kind": "drive#permission",
          "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/ehxC9WmA1KpLqAMNU8rnQ9JRCcg\"",
          "id": "me",
          "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc/permissions/me",
          "role": "owner",
          "type": "user"
         },
         "quotaBytesUsed": "0",
         "ownerNames": [
          "<SERVICE_ACCOUNT_EMAIL>"
         ],
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "<SERVICE_ACCOUNT_EMAIL>",
           "isAuthenticatedUser": true,
           "permissionId": "11042552828444035833"
          }
         ],
         "lastModifyingUserName": "<SERVICE_ACCOUNT_EMAIL>",
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "<SERVICE_ACCOUNT_EMAIL>",
          "isAuthenticatedUser": true,
          "permissionId": "11042552828444035833"
         },
         "editable": true,
         "copyable": true,
         "writersCanShare": true,
         "shared": false,
         "appDataContents": false
        }
  recorded_at: Sun, 16 Feb 2014 22:42:39 GMT
[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/spreadsheets/private/full/0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8
      Gdata-Version:
      - '1.0'
      Last-Modified:
      - Sun, 16 Feb [...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - ''
      Authorization:
      - Bearer <ACCESS_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MjU5MDU0ODk1NQ\""
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: ASCII-8BIT
      string: |
        {
         "kind": "drive#file",
         "id": "0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc",
         "etag": "\"GJcqFgACxaboeo6aKKeP6-mh0PE/MTM5MjU5MDU0ODk1NQ\"",
         "selfLink": "https://www.googleapis.com/drive/v2/files/0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc",
         "alternateLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&usp=drivesdk",
         "embedLink": "https://docs.google.com/spreadsheet/ccc?key=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&output=html&chrome=false&widget=true",
         "iconLink": "https://ssl.gstatic.com/docs/doclist/images/icon_11_spreadsheet_list.png",
         "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=0AnvWBjGFJyVsdHoyRTE4aF8yemctam1RYVpiczNZcnc&v=1&s=AMedNnoAAAAAUwFa997uIGWm_5XT8bnSTQ9SDqmr__1G&sz=s220",
         "title": "Contacts - Bad Facet Type",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "labels": {
          "starred": false,
          "hidden": false,
          "trashed": false,
          "restricted": false,
          "viewed": true
         },
         "createdDate": "2014-02-16T22:42:29.664Z",
         "mod[...]
